.content-pages {
  .MuiBreadcrumbs-root {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
    }
  }
  h1 {
    font-size: 30px;
    letter-spacing: normal;
    line-height: normal;
    font-weight: $font-light;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      font-size: 42px;
      span {
        display: block;
      }
    }
  }

  .content-box {
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
      padding-right: 50px;
    }
    margin-top: 0;
    h3 {
      font-weight: $font-bold;
      letter-spacing: normal;
      color: #000;
      line-height: normal;
      font-size: 24px;
      margin-bottom: 15px;
    }
    p {
      line-height: normal;
      color: #000;
      letter-spacing: 1.5;
      // font-weight: $font-light;
      font-size: 16px;
    }
  }
}
