.primary-header {
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
  z-index: 9;
  position: sticky;
  top: 0;
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 30px 0;
    border-top: 1px solid #dbdbdb;
  }
  .MuiContainer-root {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .logo {
    order: 1;
    display: flex;
    align-items: center;
    a {
      margin-left: 15px;
      @media screen and (min-width: 1024px) {
        margin: 0;
      }
    }

    img {
      cursor: pointer;
      display: block;
    }
  }
  .search-box {
    position: relative;
    order: 3;
    margin-top: 15px;
    width: 100%;
    display: none;
    &.show {
      display: block;
    }
    @media screen and (min-width: 768px) {
      width: 300px;
      order: 2;
      display: block;
      margin: 0;
    }
    @media screen and (min-width: 1024px) {
      width: 400px;
    }
    @media screen and (min-width: 1280px) {
      width: 545px;
    }
    button {
      height: 40px;
      min-width: 1px;
      right: 1px;
      width: 52px;
      top: 1px;
      border-radius: 0 50px 50px 0;
      position: absolute;
    }
    input {
      width: 100%;
      padding: 0 15px;
      padding-right: 70px;
      font-size: 14px;
      color: $primaryTextColor;
      height: 42px;
      border: 1px solid #dbdbdb;
      line-height: normal;
      box-shadow: none;
      -webkit-appearance: none;
      border-radius: 20px;
      @media screen and (min-width: 768px) {
        padding: 0 20px;
      }
      @media screen and (min-width: 1024px) {
        padding: 0 30px;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;
    order: 2;
    @media screen and (min-width: 768px) {
      order: 3;
    }
    li {
      & + li {
        margin-left: 15px;
        @media screen and (min-width: 1024px) {
          margin-left: 35px;
        }
      }
      a {
        color: $primaryColor;
        display: flex;
        align-items: center;
        font-size: 0;
        text-decoration: none;
        font-weight: $font-medium;
        @media screen and (min-width: 768px) {
          font-size: 14px;
          svg {
            margin-right: 10px;
          }
        }
      }
      button {
        border-radius: 20px;
        height: 42px;
        font-weight: $font-medium;
        font-size: 14px;
        @media screen and (min-width: 1024px) {
          width: 113px;
        }
      }
    }
  }
}
