.primary-structure {
  padding: 20px 0;
  @media screen and (min-width: 768px) {
    padding: 50px 0;
  }
  &--box {
    hr {
      border: none;
      border-top: 1px solid rgba(0, 0, 0, 0.18);
      margin: 30px 0 30px auto;
      @media screen and (min-width: 768px) {
        width: calc(100% - 20px);
      }
      @media screen and (min-width: 1024px) {
        width: calc(100% - 40px);
      }
    }
    &.payment-method {
      padding-top: 30px;
      padding-bottom: 30px;
      .MuiGrid-container {
        align-items: center;
      }
      ul {
        margin-top: 16px;
        @media screen and (min-width: 480px) {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
        li {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: -0.015em;
          color: #000000;
          img {
            margin-left: 12px;
          }
          &:first-child {
            font-weight: 500;
            margin-bottom: 12px;
            @media screen and (min-width: 480px) {
              margin-right: 12px;
              margin-bottom: 0;
            }
          }
        }
      }
      p {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.015em;
        color: #000000;
      }
    }
    & + .primary-structure--box {
      margin-top: 20px;
    }
    background: #ffffff;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
    padding: 25px;
    @media screen and (min-width: 768px) {
      padding: 50px 40px;
    }

    @media screen and (max-width: 992px) {
      button {
        margin-top: 20px;
      }
    }

    .MuiButtonGroup-root {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (min-width: 768px) {
        justify-content: flex-end;
      }
      button {
        width: 100%;
        @media screen and (min-width: 480px) {
          min-width: 145px;
          width: auto;

          & + button {
            margin-left: 6px;
          }
        }
      }
    }

    .saved-cards {
      padding-top: 20px;
      margin-top: 30px;
      border-top: 1px solid #eee;
      .card {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        & + .card {
          margin-top: 15px;
        }
        span {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: #eee;
        }
        .wrap {
          width: calc(100% - 50px);
          padding-left: 15px;
          p {
            & + p {
              margin-top: 5px;
            }
          }
        }
      }
    }
    .MuiFormGroup-root[role="radiogroup"] {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    h3 {
      font-weight: bold;
      font-size: 22px;
      margin: 0;
      line-height: 26px;
      letter-spacing: -0.015em;
      color: #000000;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.015em;
      color: #000000;
      .wrap {
        display: inline-flex;
        align-items: center;
        img {
          margin-left: 8px;
        }
      }
      & + p {
        margin-top: 15px;
      }
      strong {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.015em;
        color: #000000;
      }
    }
    .profile-image-box {
      margin-bottom: 20px;
      @media screen and (min-width: 768px) {
        margin: 0;
        text-align: center;
      }
      .position-relative {
        position: relative;
        display: inline-flex;
        border-radius: 50%;
        overflow: hidden;
        @media screen and (min-width: 1024px) {
          margin-left: 25px;
        }
      }
      label {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        letter-spacing: -0.015em;
        background: rgba(0, 0, 0, 0.51);
        color: #ffffff;
        img {
          margin-bottom: 3px;
        }
        input {
          display: none;
        }
      }
      .user-image {
        border-radius: 50%;
        width: 96px;
        object-fit: contain;
        display: block;
        margin: auto;
        height: 96px;
      }
      p {
        margin-top: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;
        color: rgba(0, 0, 0, 0.42);
        @media screen and (min-width: 768px) {
          justify-content: center !important;
        }
        @media screen and (min-width: 1024px) {
          margin-left: 25px;
        }
        .MuiCardMedia-root {
          width: 13px;
          margin-right: 7px;
          height: 15px;
        }
      }
    }
  }
  &--content {
    .content-header {
      margin-bottom: 30px;
      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.015em;
        color: #000000;
        margin-bottom: 15px;
        @media screen and (min-width: 768px) {
          margin: 0;
        }
      }
      button {
        @media screen and (min-width: 768px) {
          min-width: 160px;
        }
        & + button {
          margin-left: 8px;
        }
      }
    }
  }
}
