.topbar {
  background-color: #e8e8e8;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
  .MuiContainer-root {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 361px) {
      // justify-content: flex-end;
    }
    @media screen and (max-width: 768px) {
      padding-top: 5px;
      height: 50px;
      display: block;
    }
  }
  span {
    font-weight: 700;
    padding-right: 5px;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      & + li {
        margin-left: 20px;
        @media screen and (min-width: 1024px) {
          margin-left: 40px;
        }
      }
      a {
        color: $primaryTextColor;
        font-size: 12px;
        font-weight: $font-medium;
        text-decoration: none;
        @media screen and (min-width: 768px) {
          font-size: 14px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
