.user-structure {
  padding: 50px 15px;
  .wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
    & > p {
      margin-bottom: 16px;
      text-align: right;
      font-size: 14px;
      a {
        cursor: pointer;
        color: $primaryColor;
        line-height: 1;
        text-decoration: underline;
      }
    }
  }
  &--box {
    padding: 25px 25px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    img {
      display: block;
      margin: 0 auto 15px;
    }
    p {
      font-size: 14px;
      text-align: center;
      line-height: 1.5;
      &.m-t-15 {
        margin-top: 15px;
      }
      span {
        display: block;
      }
      a {
        color: $primaryColor;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .recieve-offers {
      margin: 20px 0 20px;

      label {
        margin-right: 0;
        align-items: flex-start;
        .MuiFormControlLabel-label {
          font-weight: $font-light;
          padding-top: 10px;
          letter-spacing: normal;
          // line-height: normal;
          font-size: 12px;
        }
      }
    }
    .form-link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a {
        color: $primaryColor;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
      }
    }
    h3 {
      font-size: 16px;
      text-align: center;
      margin-bottom: 30px;
      font-weight: $font-medium;
      & + p {
        font-weight: $font-light;
        font-size: 13px;
        text-align: center;
        margin: 7px 0 30px;
      }
      &.m-0 {
        margin: 0;
      }
    }
    button {
      width: 100%;
      border-radius: 50px;
      height: 45px;
      font-size: 16px;
      margin-top: 20px;
      font-weight: $font-medium;
      display: block;
    }
  }
}

.form-group {
  p {
    font-size: 12px;
    text-align: right;
    margin: 5px 0 0;
    // font-style: italic;
    line-height: 1;
  }
  label {
    display: block;
    font-size: 14px;
    font-weight: $font-medium;
    margin-bottom: 10px;
  }
  & + .form-group {
    margin-top: 20px;
  }
}

body {
  .MuiCheckbox-colorPrimary.Mui-checked {
    color: #3e6eb0;
  }
}

.user-page {
  padding: 67px 15px 125px;

  & > p {
    max-width: 732px;
    margin: 0 auto;
    text-align: right;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;
    margin-bottom: 8px;
    color: #000000;
    a {
      color: #3e6eb0;
      text-decoration: underline;
    }
  }
  &--info {
    @media screen and (min-width: 576px) {
      width: 228px;
    }
    img {
      display: block;
      margin: 43px auto 0;
    }
    .info {
      & + .info {
        margin-top: 30px;
      }
    }
    h3 {
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.015em;
      margin-bottom: 40px;
      color: #000000;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      letter-spacing: -0.015em;
      color: #000000;
      & + p {
        margin-top: 10px;
      }
      strong {
        font-weight: bold;
      }
    }
  }
  &--form {
    margin-top: 40px;
    @media screen and (min-width: 576px) {
      width: 248px;
      margin-top: 0;
    }
    p {
      font-weight: 500;
      text-align: center;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -0.015em;
      color: #000000;
    }
    .recieve-offers {
      margin: 23px 0;

      label {
        margin-right: 0;
        align-items: flex-start;
        .MuiFormControlLabel-label {
          font-weight: $font-regular;
          letter-spacing: -0.015em;
          padding-top: 10px;
          // letter-spacing: normal;
          // line-height: normal;
          font-size: 12px;
        }
      }
    }
    button {
      &.MuiButton-containedPrimary {
        width: 100%;
        display: block;
        margin-top: 30px;
      }
    }
  }
  &--wrapper {
    max-width: 732px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.08);
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    @media screen and (min-width: 576px) {
      padding: 44px 62px;
    }
  }
}
