@import "variables";

html {
  font-size: 1rem;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primaryTextColor;
  font-family: $primaryFont;
  background-color: #fefefe;
  font-size: 1rem;
  min-height: 100%;
  text-size-adjust: 100%;
  letter-spacing: normal;
  line-height: normal;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
ul,
ol {
  outline: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  line-height: 1;
}

input[type="text"]::-ms-clear {
  display: none;
}

::-ms-clear {
  display: none;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

button,
a {
  transition: all 0.3s ease-in-out;
  &:hover {
    transition: all 0.3s ease-in-out;
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}

.main-content {
  padding: 15px 0;
  @media screen and (min-width: 768px) {
    padding: 30px 15px;
  }
}

// body {
//   .MuiContainer-maxWidthLg {
//     max-width: 100%;
//   }
// }

.width-auto {
  width: auto !important;
}
