body {
  .MuiButtonBase-root {
    &.default {
      border-color: #000;
      font-size: 16px;
      min-width: 80px;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
    &.MuiButton-contained {
      letter-spacing: normal;
      text-transform: none;
      font-weight: $font-regular;
      border-radius: 50px;
      &Primary {
        background-color: $primaryColor;
        color: #fff;
        &:hover {
          color: #fff;
          background-color: darken($color: $primaryColor, $amount: 10%);
        }
      }
      &Secondary {
        background-color: $secondaryColor;
        color: #fff;
        &:hover {
          color: #fff;
          background-color: darken($color: $secondaryColor, $amount: 10%);
        }
      }
    }

    &.MuiButton-outlined {
      letter-spacing: normal;
      text-transform: none;
      font-weight: $font-regular;
      border-radius: 50px;
      &Primary {
        border-color: $primaryColor;
        color: $primaryColor;
        &:hover {
          color: #fff;
          background-color: $primaryColor;
        }
      }
      &Secondary {
        background-color: $secondaryColor;
        color: #fff;
        &:hover {
          color: #fff;
          background-color: darken($color: $secondaryColor, $amount: 10%);
        }
      }
    }
  }
}
