body {
  .MuiButtonBase-root {
    &.MuiButton-contained {
      letter-spacing: normal;
      text-transform: none;
      font-weight: $font-regular;
      border-radius: 50px;
      &Primary {
        background-color: #3e6eb0;
        color: #fff;
        &:hover {
          color: #fff;
          background-color: darken($color: #3e6eb0, $amount: 10%);
        }
      }
      &Secondary {
        background-color: $secondaryColor;
        color: #fff;
        &:hover {
          color: #fff;
          background-color: darken($color: $secondaryColor, $amount: 10%);
        }
      }
    }

    &.MuiButton-outlined {
      letter-spacing: normal;
      text-transform: none;
      font-weight: $font-regular;
      border-radius: 50px;
      &Primary {
        border-color: #3e6eb0;
        color: #3e6eb0;
        &:hover {
          color: #fff;
          background-color: #3e6eb0;
        }
      }
      &Secondary {
        background-color: $secondaryColor;
        color: #fff;
        &:hover {
          color: #fff;
          background-color: darken($color: $secondaryColor, $amount: 10%);
        }
      }
    }
  }
}
