body {
  .MuiCard-root {
    border-radius: 20px;
    -webkit-box-shadow: -10px 12px 34px -9px rgba(0,0,0,0.12);
    -moz-box-shadow: -10px 12px 34px -9px rgba(0,0,0,0.12);
    box-shadow: -10px 12px 34px -9px rgba(0,0,0,0.12);
  }
}